.productView{
    width: 70%;
    float: left;
}

.productView .productViewCard{
    width: calc(100%/3.5);
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.productView .productViewCard:hover{
    box-shadow: 0 2px 5px 0 rgba(5, 67, 238, 0.637), 0 2px 10px 0 rgba(4, 15, 168, 0.788);
    cursor: pointer;
}