.productView{
    width: 70%;
    float: left;
}

.productView .productViewCard{
    width: calc(100%/3.5);
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 400px;
}

.productView .productViewCard:hover{
    box-shadow: 3px 3px 13px 0px #03095a88;
    cursor: pointer;
}

.productView .productViewCard .productName{
    font-size: 19px;
    font-weight: bold;
    height: 16%;
}

.productView .productViewCard .productImageHolder{
    height: 50%;
}

.productView .productViewCard .productImageHolder .productImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.productView .productViewCard .price{
    text-align: center;
}

.productView .productViewCard .price .originalPrice{
    font-size: 14px;
    text-decoration-line: line-through;
    text-decoration-color: red;
}

.productView .productViewCard .price .discountedPrice{
    font-size: 17px;
    font-weight: bold;
}

.productView .productViewCard .addBtn{
    border-radius: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.discountImage{
    position: absolute;
    right: 0px;
    top: 47px;
    width: 50px;
    height: 20px;
}

.discountImage img{
    width: 100%;
}

.discountImageHolder{
    position: relative;
}

.discountImageHolder .discountText{
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    color: #fff;
}