.contactHeader{
    width: 100%;
    background-color: #d5d2d2;
    float: left;
}

.contactHeader .location, .contactHeader .phone, .contactHeader .navMenu {
    float: left;
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 15px;
}

.contactHeader .navMenu{
    display: none
}

.phone a{
    text-decoration: none;
    color: black;
}

.contactHeader .socialmedia ul {
    list-style: none;
    margin-block-start: 0px;
}

.contactHeader .socialmedia ul li{
    float: left;
    line-height: 13pt;
    margin-right: 15px;
}

.contactHeader .socialmedia ul li a{
    text-decoration: none;
    color: black;
}

.contactHeader .socialmedia ul li a i{
    font-size: 12pt;
    font-style: normal;
}

@font-face {
    font-family: 'brandfont';
    src: url('/webfonts/fa-brands-400.woff') format('woff');
  }

  .socialmedia{
      font-family:  'brandfont';
      float: right;
      color: #fff;
  }


  @media screen and (max-width: 1023px) 
  {
    .contactHeader .navMenu{
        display: block;
    }
    .contactHeader .location, .contactHeader .phone {
        display: none;
    }
  }