.menumain{
    float: left;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #d5d2d26e;
    padding-bottom: 10px;
}

.logo{
    float: left;
    width: 20%;
}

.routing{
    float: right;
    width: 80%;
    padding-top: 15px;
    padding-left: 10%;
}

 .routing .active{
    border: 2px solid #333;
} 

.routing ul{
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
    text-align: center;
}

.routing ul li{
    margin-right: 30px;
    margin-left: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid #333;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    float: left;
}

.routing ul li::before, .routing ul li::after {
    position: absolute;
    background: #fff;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .routing ul li::before {
    height: 35px;
    width: 80px;
  }
  
  .routing ul li::after {
    width: 100px;
    height: 20px;
  }

  .routing ul li:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .routing ul li:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .routing ul li:hover {
    background: #fff;
  }

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

.routing ul li a{
    text-decoration: none;
    color: #000;
}

.logo img{
    width: 50%;
    border-radius: 50%;
}

.floatingMenu{
  position: fixed;
  top: 0px;
  width: 100%;
  background: white;
  z-index: 2;
}

.floatingMenu .logo img{
  width: 20%;
  border-radius: 50%;
}