.productController{
    margin-left: 30px;
    margin-top: 10px;
}

.showviewDropDown{
    display: inline;
    margin-left: 20px;
}

.productController .pageNavigation{
    display: block;
    float: right;
    margin-right: 30px;
}

.productController .currentPageInput{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 0px;
    border: 1px solid;
    border-radius: 3px;
}    

.productController .totalPageInput{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d5d2d26e;
    display: inline-block;
    border: 1px solid;
    text-align: center;
    border-radius: 3px;
}    


.disableArrow{
    opacity: 0.3;
    pointer-events: none ;
}

.enableArrow{
    cursor: pointer;
}

.productController .productDropDown{
    display: none;
}


@media screen and (max-width: 600px) 
  {
        .productController{
            margin-left: 0px;
        }

        .customDropdown{
            border-radius: 15px;
            border-color: black;
        }

        .productController .productDropDown{
            display: block;
        }
  }
