.productController{
    margin-left: 30px;
    margin-top: 10px;
}

.showviewDropDown{
    display: inline;
    margin-left: 20px;
}

.productController .pageNavigation{
    display: block;
    float: right;
    margin-right: 30px;
}

.productController .currentPageInput{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}    

.productController .totalPageInput{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d5d2d26e;
    display: inline-block;
    border: 1px solid;
    text-align: center;
}    


.disableArrow{
    opacity: 0.3;
    pointer-events: none ;
}
