.cartIcon{
    position: fixed;
    bottom: 70px;
    left: 70px;
    border: 1px solid  #d5d2d26e;
    padding: 10px;
    box-shadow: 3px 3px 13px 0px #d5d2d26e;
    border-radius: 15px;
}

.cartIcon:hover{
    box-shadow: 3px 3px 13px 0px #03095a88;
    cursor: pointer;
}

.cartIcon i{
    font-size: 40px;
}

.cartIconBadge{
    position: absolute;
    top: 0px;
}

.cartItem{
    width: 100%;
    border-bottom: 1px solid #d5d2d26e;
    display: table;
}

.cartItem .cartItemName, .cartItem .cartItemImage, .cartItem .cartItemPrice, .cartItemCount, .cartItemPriceOnQ{
    margin-left: 10px;
    margin-right: 10px;
    /* border-right: 1px solid #d5d2d26e; */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    padding : 10px;
}

.cartItemCount input{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.cartItemCount .removeElement{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: block;
}

.cartItemImage img{
    width: 100%;
}

.subTotal {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
}